/* Resert  */

body,p,a,h2,ul li{padding:0;margin:0;}
ul{list-style: none; padding:0; margin:0px;}
a{text-decoration: none;}


/* Main */

body
{
	font-family: Verdana;
	font-size:14px;
	background:url(images/bg_body.png) repeat;

}

.wrapper 
{
	width: 1000px;
	margin:auto;

}

header
{
	background: url(images/bg1.jpg) no-repeat;
	background-size: 100% 100%;
	height:470px;
		
}

.head
{
	background-color:rgba(0,0,0,0.4);
	height:100px;
}

.head img 
{
	margin-top:30px; 
	margin-left: 10px;
}

.head ul
{
	float:right;
	margin-top: 45px;
}

.head ul li
{
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	position:relative;
	text-align: center;
 
}

.head ul li a
{
	color:#fff;  
}

.head ul li a:hover
{
	color:#e74c3c;
}

 
.quote 
{
	width:350px; 
	margin-top: 190px;
	float:right;
}

.quote p
{ 
	color:#fdfdfd; 
	line-height: 26px;
	font-size:17px;
}

.quote p.author
{
	text-align:right;
 
}

.title
{
	background: url(images/title.png) no-repeat;
	background-size: 100% 100%;
	height:100px;
	width:100%;
}

.title h2
{
	color:#fff;
	text-align: center; 
	background: url(images/til.png) center no-repeat;
	padding-top: 20px;  
	padding-bottom: 65px;
}



.content
{ 
	margin-top: 30px;
	margin-bottom: 30px;
}

.content p 
{
	line-height: 25px;
}


ul.member li
{
	float:left;
	border:5px solid #fff;
	border-radius: 5px;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px; 
	margin-bottom: 20px;
 	overflow: hidden;
	position:relative;
}

ul.member li img
{
	width:300px; 
	display: block; 

}
ul.member li a
{
	color:#e74c3c; 
 
}

ul.member .caption
{
	position: absolute;
	background: rgba(52, 73, 94,0.9);
	color:#fff;
	font-size: 20px;
	bottom:-50px;
	line-height: 50px;
	width:100%;
 	-webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;

}

ul.member li:hover .caption
{
	display:block;
	bottom:0px;
 
}

form.contact {float:right;}
form.contact textarea {height:100px;}
form.contact input,textarea{-webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px; border:1px solid #dcdcdc;}
form.contact textarea.block, input.block{display:block; padding:12px; margin:10px 0 30px; width:495px;}
form.contact input.line { display:inline-block; padding:12px; margin:10px 0 20px; width:232px;}

.button{
background: #f5f5f5;
background: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #e2e2e2));
background: -webkit-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
background: -o-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
background: -ms-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);
background: linear-gradient(to bottom, #f5f5f5 0%, #e2e2e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e2e2e2', GradientType=0 );
padding-top:15px;
padding-bottom:15px;
width:180px;
border:1px solid #dcdcdc;
color:#808080;
font-weight:bold;
text-transform:uppercase;
}
.button:hover{background:#eeeeee; cursor:pointer;}



table.profile{height:302px; border-color:none;}
table.profile tr th {height:40px;}
table.profile th,td{width:175px;}
table.profile tr td{border:1px solid #34495e; padding:10px;}
table.profile tr th{background-color: #34495e; color:#fff; padding:10px 0 10px;}

table.bulud tr td  {padding: 23px;border-style: solid;}
#row1{background: #34495e; color:white; font-size: 20px;}
#row3{background: #34495e; color: white;font-size: 20px;}


footer
{
	background:#2c3e50;
	height:100px;
}

footer p
{
	padding-top: 33px;
	text-align: center;
	color:#fff;
}






